.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.left-header {
  font-size: 2rem;
  /* font-size: 2.5vw; */
  padding: 2.5vh;
  /* background-color: tomato; */
}

.left-header-content {
  color: darkseagreen;
}

.right-header {
  font-size: 1.5rem;
  /* font-size: 1.8vw; */
  padding: 3vh;
  /* background-color: tomato; */
}

.header-link {
  color: #4B5563;
}

.header-link:hover {
  color: black;
  text-decoration: none;
}

/* ///////////////////////////////////////////////////////// */
/* add meme button*/

.close-form-btn {
  float: right;
  padding: 2%;
}

/* ///////////////////////////////////////////////////////// */
/* Form */

.form-container {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  padding: 2% 4%;
}

#meme-form {
  flex: 0 0 100%;
}

/* #image-preview {
  flex: 0 0 10%;
  padding: 10% 5%;
} */

/* .img-prev-class {
  /* height: 300px; */
  /* height: 5%; */
  /* width: 100%; */
  /* width: 50%; */
  /* height: auto; */
  /* font-size: 100px; */
/* }  */


input {
  width: 100%;
  height: 40px;
  display: block;
}

label {
  padding: 1% 0;
}

.add-btn {
  background-color: olivedrab;
  border-style: none;
  border-radius: 10px;
  color: white;
  outline: none;
}


/* ///////////////////////////////////////////////////////// */

.main-class {
  min-height: 100vh;
  /* position: relative; */
  /* background-color: tomato; */
}

.memes-container {
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */

}

.meme-item {
  /* border: 1px solid lightgrey; */
  /* box-sizing: border-box; */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  margin: 3% 1%;
}

.meme-img {
  height: 200px;
}


/* //////////////////////////////////////////////////////////// */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
